<!-- Primary Navigation
============================================= -->
<nav class="primary-menu">

	<ul class="menu-container">
		<li class="menu-item">
			<a class="menu-link" href="#home"><div>Home</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#program"><div>Program</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#attendee"><div>Attendees</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#reg"><div>Registration</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#fellowship"><div>Fellowship</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#venue"><div>Venue</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#accomodation"><div>Accommodation</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#visa"><div>VISA/Immigration</div></a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#resources"><div>Resources</div></a>
		</li>
	</ul>

</nav><!-- #primary-menu end -->
