<body class="stretched">
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
	============================================= -->
	<header id="header" class="full-header">
		<div id="header-wrap">
			<div class="container">
				<div class="header-row">

					<!-- Logo
					============================================= -->
					<div id="logo" class="mr-lg-5">
						<a href="index.html" class="standard-logo" data-dark-logo="../images/logo.jpg"><img src="images/logo.jpg"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="../images/logo@2x.jpg"><img src="images/logo@2x.jpg" alt="SANOG"></a>
					</div><!-- #logo end -->

					<div id="primary-menu-trigger">
						<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
					</div>

					<!-- Primary Navigation
					============================================= -->
					{{ if eq .Type "page" }}
						{{- partial "menus.html" . -}}
					{{ else }}
						{{- partial "fixedmenus.html" . -}}
					{{ end }}

				</div>
			</div>
		</div>
		<div class="header-wrap-clone"></div>
	</header><!-- #header end -->

	{{ if eq .Type "events" }}
		<section id="slider" class="slider-element h-auto" style="background-color: #222;">
			<div class="slider-inner">

				<div class="owl-carousel carousel-widget" data-margin="0" data-items="1" data-pagi="false" data-loop="true" data-animate-in="rollIn" data-speed="450" data-animate-out="rollOut" data-autoplay="5000">
					{{- $eventname := .File.BaseFileName }} 
					{{- $dir := ( printf "static/slider/%s" $eventname ) }} 
					{{- $files := readDir (print $dir ) }} 
					{{- range $files -}} 
						<a href="#"><img src="slider/{{ $eventname }}/{{ .Name }}" alt="Slider"></a>
					{{ end }}

				</div>

			</div>
		</section>
	{{ end }}
