{{ define "main" }}
<main>
	<article>
		<!--
		<div class="title">
			<h2 class="title">{{ .Title }}</h2>
		</div>
		-->
		{{ if isset .Params "tldr" }}
			<div class="tldr">
				<strong>tl;dr:</strong>
					{{ .Params.tldr }}
			</div>
		{{ end }}

		<section class="body">
			<!-- Content
			============================================= -->
			<section id="content">
				<div class="content-wrap">

					<div class="container-fluid px-5 clearfix">

						<div class="row col-mb-50">
							<div class="col-12">
								{{ .Content }}
							</div>
						</div>
					</div>
				</div>
			</section><!-- #content end -->
		</section>

	</article>
</main>
{{ end }}

